/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/


/* --------- -------------------------------- ---------- */

/* --------- reset ---------- */

body, p, ul, li {
	margin: 0;
	padding: 0;
}


/* --------- typography ---------- */

h1 {
  color: #06365f;
  padding-top: 20px; /* -sorry... already tired, i know it shouldnt be here neither a "top"---------- */
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

ul {
  color: #06365f;
}

/* --------- layout -------------- */

.header-space {
  height: 150px;

}

.main-container {
  max-width: 1090px;
  max-height: 731px;
  margin: 0 auto 0;
}

.main-background-img {
  padding-top: 150px;
  background-image: url(https://github.com/pedrodiogoneto/lab-css-instagram-clone/blob/master/starter-code/images/bgtile.png?raw=trueUsers/pedroneto/Desktop/lab-css-recipes-clone/starter-code/apple-pie-starter-code/images/apple-pie.jpg);
  background-size: cover;
  height: 250px;
}

.img-container {
  margin: 50px;
  float: left;
}

.info-container {
  margin-right: 50px;
  margin-top: 50px;
  width: 500px;
  float: left;
}

.info-container-frame { 
  background-size: cover;
  background-image: url(https://github.com/ironhack-labs/lab-css-instagram-clone/blob/master/starter-code/images/frame.png?raw=true);  
}

.instagram-logo {
  margin: 10 20 20 20;
}

.little-home-container {
  padding: 10px;
  background-color: #1c5380;
  border-radius: 5%;
  border: solid 1px #06365f;
  float: right;
  margin: 20px;
}


.abstract {
  padding-left: 40px;
  padding-right: 40px;
}

.stores-logo {
  float: left;
  margin: 20px 0 30px 30px;
}

.clear {
  clear: both;
}

.footer-list {
  list-style: none;
  overflow: hidden;
  text-align: center;
}
.footer-list ul {
    float: left;
    padding-right: 20px;
}


/* --------- components ---------- */


/*  -- site header -- */

/*  -- site nav -- */

/*  -- site main -- */

/*  -- site footer -- */


/* --------- pages ---------- */



/* --------- TEMP ---------- */

 /*div, header, footer, nav, article, footer {
	border: 1px solid black;
}*/